<aside th:fragment="어사이드" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark" id="sidenav-main">
  <hr class="horizontal light mt-0 mb-2" />
  <div class="collapse navbar-collapse h-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <a class="nav-link text-white">커뮤니티 게시판</a>
      <hr />
      <li>
        <span>
          <a class="nav-link text-white" th:href="@{/noticeboard/list}">공지사항</a>
        </span>
      </li>
      <li>
        <span>
          <a class="nav-link text-white" th:href="@{/board/list}">자유 게시판</a>
        </span>
      </li>
      <li>
        <span>
          <a class="nav-link text-white" th:href="@{/board/list}">서버 게시판</a>
        </span>
      </li>
      <li>
        <span>
          <a class="nav-link text-white" th:href="@{/board/list}">스크린샷 게시판</a>
        </span>
      </li>
      <li>
        <span>
          <a class="nav-link text-white" th:href="@{/board/list}">질문 & 답변 게시판</a>
        </span>
      </li>
      <hr />
      <a class="nav-link text-white">직업 게시판</a>
      <hr />
      <li>
        <span>
          <a class="nav-link text-white" th:href="@{/board/list}">워리어</a>
        </span>
      </li>
      <li>
        <span>
          <a class="nav-link text-white" th:href="@{/board/list}">로그</a>
        </span>
      </li>
      <li>
        <span>
          <a class="nav-link text-white" th:href="@{/board/list}">소서리스</a>
        </span>
      </li>
      <li>
        <span>
          <a class="nav-link text-white" th:href="@{/board/list}">프리스트</a>
        </span>
      </li>

      <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">계정 정보</h6>
      </li>

      <li class="nav-item" th:if="${userName != null}">
        <a class="nav-link text-white" th:href="@{/login}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">logout</i>
          </div>
          <span class="nav-link-text ms-1">로그아웃</span>
        </a>
      </li>
      <li class="nav-item" th:if="${userName == null}">
        <a class="nav-link text-white" th:href="@{/login}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">login</i>
          </div>
          <span class="nav-link-text ms-1">로그인</span>
        </a>
      </li>
      <li class="nav-item" th:if="${userName == null}">
        <a class="nav-link text-white" th:href="@{/register}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">assignment</i>
          </div>
          <span class="nav-link-text ms-1">가입하기</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
